.end {
  position: static;
  bottom: 0;
  width: 100%;
  z-index: 100;
  color: #888;

  footer {
    width: 100%;
    height: 10rem;
    font-size: 20px;
    overflow: hidden;
    background: $secondary-color;
    text-align: center;

    .links {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .seperator {
        cursor: default;
      }

      a {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0 20px;
        border: 1px solid transparent;
        border-radius: 2px;
        text-decoration: none;
        color: $nav-text-color;
        transition: color 0.2s ease-out;
        &:hover {
          color: $text-color;
        }
      }
    }
  }
}
