.section {
  padding-top: 2rem;
  padding-bottom: 3rem;

  h1 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
  }
  hr {
    width: 40%;
    max-width: 550px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top-color: darkgrey;
  }

  &.sticky {
    position: sticky;
    top: $header-height;
    z-index: auto;
  }

  &.not-sticky {
    -webkit-transform: translateZ(0);
  }

  &.landing {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: calc(100vh - #{$header-height});
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: radial-gradient(grey, $primary-grey);

    .landing-name {
      font-size: 5rem;

      @media (max-width: $mobile) {
        font-size: 4rem;
      }
    }
    .landing-position {
      font-size: 3rem;
      color: $primary-grey;

      @media (max-width: $mobile) {
        font-size: 2.6rem;
        padding: 0 10px;
      }
    }

    #landingArrow {
      $arrow-size: 30px;
      border: solid black;
      border-width: 0 3px 3px 0;
      padding: 3px;
      position: absolute;
      bottom: $arrow-size;
      left: 50%;
      margin-left: calc(#{$arrow-size} / -2);
      width: $arrow-size;
      height: $arrow-size;
      transform: rotate(45deg);
      animation-name: landingArrowAnimation;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      transition: opacity 0.5s;

      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &.about {
    display: flex;
    padding: 5rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $primary-grey;

    p {
      text-align: center;
      color: #a1a1a1;
      font-size: 2.1rem;
      width: 50%;
      margin-bottom: 0;
      max-width: 700px;
      min-width: 300px;
    }

    .portrait {
      width: 300px;
      height: auto;
      border-radius: 20%;
      box-shadow: 0px 0px 15px #555;
    }
  }

  &.portfolio {
    background-color: #818181;
  }

  &.resume {
    text-align: center;
    background-color: #f1f1f1;
  }

  &.contact {
    background-color: #f1f1f1;
  }
}

@keyframes landingArrowAnimation {
  0% {
    transform: translateY(0%) rotate(45deg);
  }
  45% {
    transform: translateY(50%) rotate(45deg);
  }
  100% {
    transform: translateY(0%) rotate(45deg);
  }
}
