---
---

@import 'vars.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: $default-font;
  scroll-behavior: smooth;
  scroll-snap-type: none;
  scroll-padding-top: $navbar-height;
}

// Device Sizes
$desktop: 1200px;
$laptop: 1024px;
$tablet-big: 920px;
$tablet: 700px;
$tablet-small: 620px;
$mobile: 550px;

:root {
  font-size: 16px;

  @media (max-width: $desktop) {
    font-size: 15px;
  }

  @media (max-width: $laptop) {
    font-size: 14px;
  }

  @media (max-width: $tablet-big) {
    font-size: 14px;
  }

  @media (max-width: $tablet) {
    font-size: 13px;
  }

  @media (max-width: $tablet-small) {
    font-size: 13px;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

@import 'mixins.scss';
@import 'navigation.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'default.scss';
@import 'home.scss';
@import 'resume.scss';
@import 'project-list.scss';
@import 'project-card.scss';
@import 'project.scss';
@import 'contact-form.scss';
@import '404.scss'