.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  nav {
    width: 100%;
    height: $navbar-height;
    font-size: 1.5rem;
    overflow: hidden;
    background: $secondary-color;

    .links {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0 2rem;
        color: $nav-text-color;
        border: 1px solid transparent;
        border-radius: 2px;
        text-decoration: none;
        transition: color 0.2s ease-out;

        &:hover {
          color: white;
        }

        &.name-title {
          font-weight: bold;
          font-size: 3rem;
          margin-right: 20px;

          &:hover {
            color: $nav-text-color;
          }
        }
      }
    }
  }
}