.nav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .seperator {
      cursor: default;
    }

    a {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0 20px;
      border: 1px solid transparent;
      border-radius: 2px;
      text-decoration: none;
      color: $nav-text-color;
      transition: color 0.2s ease-out;

      &:hover {
        color: $text-color;
      }
    }
  }
}
