.project {
  background-color: #333333;
  min-height: 90vh;
  color: $text-color;
  .project-header {
    display: flex;
    width: 100%;
    height: 15rem;
    position: relative;
    align-items: center;
    .project-header-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-clip: border-box;
      filter: blur(8px);
  
      .project-header-image-overlay {
        background-color: rgba(56, 56, 56, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .project-header-text{
      position: absolute;
      font-weight: bold;
      font-size: 5rem;
      width: 100%;
      text-align: center;
    }
  }

  .project-source-button {
    @include button;
    //background: #4e9caf;
  }
  .project-play-button {
    @include button;
    //background-color: #4e9caf;
  }
}
