.project {
  background-color: $primary-grey;
  min-height: 90vh;
  color: $primary-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  .project-header {
    display: flex;
    width: 100%;
    height: 15rem;
    position: relative;
    align-items: center;
    overflow: hidden;

    .project-header-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-clip: border-box;
      filter: blur(8px);

      .project-header-image-overlay {
        background-color: #38383899;
        box-shadow: inset 0 0 2px 2px black;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .project-header-text {
      position: absolute;
      font-weight: bold;
      font-size: 5rem;
      width: 100%;
      text-align: center;
    }
  }

  .project-main {
    width: 1500px;
    max-width: 80%;
    background-color: #38383899;
    box-shadow: 2px 2px 10px black;
    border-radius: 12px;
    margin: 20px;
    .project-details {
      margin: auto;
      width: 80%;
      max-width: 70ch;
      min-height: 50vh;
      font-size: 1.3rem;
    }
  }

  h2 {
    margin-bottom: 5px;
    color: grey;
  }

  ul {
    margin-top: 5px;
  }

  .collaborator-role {
    color: grey;
  }
}
