---
layout: default
---

<div class="project">
  <div class="project-header">
    <div class="project-header-image" style="background-image: url({{ page.image | relative_url }})">
      <div class="project-header-image-overlay"></div>
    </div>
    <div class="project-header-text">{{ page.title }}</div>
  </div>
  <h3>About</h3>
  {{ content }}
  {% if page.technologies %}
  <h3>Technologies</h3>
  <ul>
    {% for t in page.technologies %}
    <li>{{ t.name }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <a class="project-source-button" href="{{ page.source }}" target="_blank">View Source</a>
  {% if page.play_now %}
  <a class="project-play-button" href="{{ page.play_now }}" target="_blank">Play Now!</a>
  {% endif %}
</div>
