---
layout: default
---

<div class="project">
    <div class="project-banner" style="background-image: url({{ page.image | relative_url }})">
        <div class="project-banner-overlay"></div>
    </div>
    {{ content }}

  {% if page.technologies %}
  <h3>Technologies</h3>
  <ul>
    {% for t in page.technologies %}
    <li>{{ t.name }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <a class="project-source-button" href="{{ page.source }}">View Source</a>
  {% if page.play_now %}
  <a class="project-play-button" href="{{ page.play_now }}">Play Now!</a>
  {% endif %}
</div>
