---
layout: default
---

<div>
  {% assign significantProjects = site.projects | where_exp: 'project', 'project.significance > 5' | sort: 'significance' | reverse %}
  {% assign lessSignificantProjects = site.projects | where_exp: 'project', 'project.significance <= 5' | sort: 'significance' | reverse %}
  <section class="section">
    <h1 class="text-center">Larger Projects</h1>
    <hr>
    {% include project-list.html projects=significantProjects %}
  </section>
  <section class="section">
    <h1 class="text-center">Smaller Projects</h1>
    <hr>
    {% include project-list.html projects=significantProjects %}
  </section>
</div>